@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Inter", sans-serif;
  --color-smoky: #11120D;
  --color-olive: #565449;
}